body{
    margin: 0 ;
    padding: 0;
    background-image: url('https://pbs.twimg.com/profile_images/1525330199/Lets_Rock_.png');
    height: 100vh;
width: 100%;
background-size: cover;
}

#color-overlay{
margin: 0;
padding: 0;
opacity: 0.8;
text-align: center;
color: brown;
}

#text-bg{
line-height: 100vh;
font-size: 80px;
margin: 0;
}


